*{
  margin: 0;
  background-color:#101629;
  color: white;
}
html,body{
  overflow-y: scroll;
  overflow-x: hidden;
}

.App {
  text-align: center;
  height: 100vh;
   width: 100vw; 
  padding: 25px;
  padding-left: 0px;  
}
.app__header{
  color:lightblue;
}
.app__header > h6{
  padding: 30px;
  font-size: medium;
  color: #0694bc;
}
.app__header > h1{
  padding: 5px;
  color: #00d1fd ;
}
.app__header > p{
  padding: 30px;
  font-size:26px;
}
 button{
  height: 50px;
  max-width: 400px;
  border-radius: 99px;
  background-color: #0995d5;
  color: white;
  border: none;
}
.app__footer{
  height: 37vh;
  width: 100%;
  color:rgba(59, 50, 50, 0.725);
  background-color: rgba(59, 50, 50, 0.725);
  margin-top: 60px; 
}
.app__footer__img{
  height: 200px;
  /* height: auto; */
  max-width: 100%;
  /* width: auto\9; */
  margin-top: 50px;
  margin-left:30px ;
  margin-right: 30px;
}
.app__about{
  margin-top: 80px;
  color: white;
  /* display: flex; */
}
.about__img{
  height: 450px;
  border-radius: 200px;
}
.app__about > h1{
 text-align: left;
 margin-left: 40px;
 padding-top: 10px;
 padding-bottom: 20px;
}
.app__about > p{
  font-size: 24px;
  margin-left: 40px;
  text-align: left;
 }
 .app__about > li{
  margin-left: 40px;
  text-align: left;
  font-size: 24px;
  color: aqua;
 }
 .button{
  background-color: rgb(19, 30, 58);
  color:lightblue;
  border-color:aqua ;
  max-width: 180px;
 }
 .app__projects{
  margin-top: 80px;
 }
 .app__projects > h1{
  font-size: 60px;
}
.project__content > h2{
  font-size: 30px;
  text-align: left;
  margin-left: 40px;
  margin-top: 80px;
}
.project__content > p{
  text-align: left;
  margin-left: 40px;
  font-size: 24px;
}
.projects__li1 > li{
  margin-left: 40px;
  text-align: left;
  font-size: 24px;
  color: #0995d5;
 }
 .projects__li{
  display: flex;
  justify-content: space-evenly;
  /* margin-left:200px ;
  margin-right:200px; */
  text-align: center;
 }
 .project__button{
  height: 50px;
  min-width: 180px;
  border-radius: 99px;
  background-color: #0995d5;
  color: white;
  margin-bottom: 50px;
}
.project__img{
  height:300px;
  margin-top: 40px;
  /* margin-bottom: 40px; */
}
.app__projects__container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 40px;
}

.app__experience{
  margin-top: 40px;
 
 }
 .experience__content > h1{
  font-size: 50px;
  margin-bottom: 40px;
  text-align: left;
}
.app__experience > h2{
  font-size: 40px;
  margin-bottom:30px ;
}
.app__experience > h6{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #0694bc;
}
.app__experience > p{

  margin-bottom:100px ;
  font-size: 26px;
  text-align:center;
}
.experience__proof{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.experience__img{
  height: 700px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.experience__content{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}
.experience__content > p {
  font-size: 26px;
}

.feedback{
  display: flex;
  justify-content: center;
  padding: 30px;
  
 
}
.feedback__mayo{
  height: 50px;
  border-radius: 30px;
}
.feedback__mayo__cont > p{
  margin-left: 20px;
}

.app__feedback{
  margin-top: 80px;
}
.app__feedback > h1 {
  margin-bottom: 100px;
}
.app__feedback > p {
  font-size: 26px;
}

.footer__end{
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.footer__end > p{
  font-size: 26px;
}
.footer__end__button{
  background-color: #0995d5;
  max-width:130px ;
  margin-bottom: 30px;
}

hr{
  width: 80%;
  margin-left:10% ;
  margin-right: 10%;
}


@media only screen and (max-width: 1024px) {
  .app__projects__container{
    flex-direction: column;
  }
  .experience__proof{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 1400px) and (min-width: 1047px) {
.app__footer__img{
    height:60%;
    max-height:auto
  }
  .app__footer{
    /* flex-direction: column; */
    height:37vh;
    display:flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1046px) and (min-width:845px) {
  .app__footer__img{
      height:40%;
      max-height:auto
    }
    .app__footer{
      /* flex-direction: column; */
      height:27vh;
      display:flex;
      justify-content: space-evenly;
    }
  }
  @media screen and (max-width: 844px) and (min-width:644px) {
    .app__footer__img{
        height:30%;
        max-height:auto
      }
      .app__footer{
        /* flex-direction: column; */
        height:17vh;
        display:flex;
        justify-content: space-evenly;
      }
    }
    @media screen and (max-width: 644px) and (min-width:392px) {
      .app__footer__img{
        height:20%;
        max-height:auto
      }
      .app__footer{
        /* flex-direction: column; */
        height:17vh;
        display:flex;
        justify-content: space-evenly;
      }
    }
    @media screen and (max-width: 392px) and (min-width:291px) {
      .app__footer__img{
        height:25%;
        max-height:auto
      }
      .app__footer{
        /* flex-direction: column; */
        height:17vh;
        display:flex;
        justify-content: space-evenly;
      }
    }
    @media screen and (max-width: 291px) and (min-width:100px) {
      .app__footer__img{
        height:10%;
        max-height:auto
      }
      .app__footer{
        /* flex-direction: column; */
        height:17vh;
        display:flex;
        justify-content: space-evenly;
      }
    }